:root {
  --main-color: #212121;
  --primary-color: #757575;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-2: #000000;
  --main-bgd-color: #ffffff;
  --secondary-bgd-color: #f5f4fa;
  --footer-bgd-color: #2f303a;
  --btn-hover-color: #188ce8;
  --main-icon-color: #afb1b8;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
  --animation-duration: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--main-bgd-color);
  color: var(--main-color);
}

.link {
  text-decoration: none;

  color: var(--main-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid greenyellow; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Прихований заголовок */

.visually-hidden,
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-box {
  display: flex;
}

.nav {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: var(--accent-font);
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.logo__span {
  color: var(--accent-color-2);
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 50px;
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-color);

  transition: color var(--animation-duration) var(--animation-function);
}

.site-nav__link--active::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
  gap: 50px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
  fill: var(--primary-color);

  transition: color var(--animation-duration) var(--animation-function),
    fill var(--animation-duration) var(--animation-function);
}

.site-nav__link:hover,
.site-nav__link:focus,
.contact__link:hover,
.contact__link:focus,
.site-nav__link--active {
  color: var(--accent-color);
  fill: currentColor;
}

.contact__icon {
  margin-right: 10px;
}

/* Герой */

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hero.jpg);
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.hero__button {
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: 0;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-bgd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color var(--animation-duration)
    var(--animation-function);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--btn-hover-color);
}

/* Особливості */

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
}

.features__list > .item {
  width: calc(100% / 4);
}

.item + .item {
  margin-left: 30px;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--secondary-bgd-color);
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 14px;
  line-height: 1.14;
}

.features__text {
  margin: 0;
  padding: 0;

  line-height: 1.71;

  color: var(--primary-color);
}

/* Чим ми займаємося */

.work__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__list {
  position: relative;

  display: flex;
  gap: 30px;
}

.work__img {
  display: block;
}

.work__box {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  margin: 0;
}
/* Наша команда */

.team {
  background-color: var(--secondary-bgd-color);
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-card {
  display: flex;
  gap: 30px;

  line-height: 1.19;
}

.team-card__item {
  text-align: center;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bgd-color);
}

.team-card__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__img {
  display: block;
}

.team-card__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
}

.team-card__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;

  color: var(--primary-color);
}

/* team social  */
.team-social {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  gap: 10px;
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--main-icon-color);

  transition: fill var(--animation-duration) var(--animation-function),
    background-color var(--animation-duration) var(--animation-function);
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}

/* Постійні клієнти */

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border-radius: 4px;
  border: 1px solid var(--main-icon-color);
  fill: var(--main-icon-color);

  transition: fill var(--animation-duration) var(--animation-function),
    border-color var(--animation-duration) var(--animation-function);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bgd-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}

.footer-logo__span {
  color: var(--secondary-color);
}

/*address-box */

.address-box {
  margin-right: 70px;
}

.address__list {
  font-style: normal;
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--secondary-color);

  transition: color var(--animation-duration) var(--animation-function);
}

.address__link--color {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

/* footer-social */

.footer-social {
  margin-right: 93px;
}

.footer-social__label {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.footer-social__list {
  display: flex;
  padding: 0;
  gap: 10px;
}

.footer-social__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--secondary-color);

  transition: fill var(--animation-duration) var(--animation-function),
    background-color var(--animation-duration) var(--animation-function);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

/* footer-form */

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-form__box {
  display: flex;
  flex-direction: column;
}

.footer-form__label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* outline: 1px solid rgba(255, 255, 255, 0.3); */

  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border var(--animation-duration) var(--animation-function);
}

.footer-form__label + .footer-form__input:focus {
  outline: 1px solid var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer-form__btn {
  display: flex;
  align-items: center;
  padding: 10px 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color var(--animation-duration)
    var(--animation-function);
}

.footer-form__btn:hover,
.footer-form__btn:focus {
  background-color: var(--btn-hover-color);
}

.footer-form__icon--end {
  margin-left: 10px;
}

/* -------------Портфоліо------------- */

/* Фільтр */

.filter__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;
  background-color: var(--secondary-bgd-color);
  color: var(--main-color);

  cursor: pointer;

  transition: background-color var(--animation-duration)
      var(--animation-function),
    color var(--animation-duration) var(--animation-function),
    box-shadow var(--animation-duration) var(--animation-function);
}

.filter__btn:hover,
.filter__btn:focus,
.filter__btn:active {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проєкти */

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  transition: box-shadow var(--animation-duration) var(--animation-function);
}

.project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:hover .project__overlay,
.project__item:focus .project__overlay {
  transform: translateY(-100%);
}

.project__thumb {
  position: relative;

  overflow: hidden;
}

.project__img {
  display: block;
}

.project__overlay {
  position: absolute;
  transform: translateY(0%);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--secondary-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation-duration) var(--animation-function);
}

.project__card {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-color);
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity var(--animation-duration) var(--animation-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bgd-color);

  transition: transform var(--animation-duration) var(--animation-function);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-bgd-color);

  cursor: pointer;

  transition: fill var(--animation-duration) var(--animation-function);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--accent-color);
}

/* Форма Модального вікна */

.form {
  padding: 40px 39px 40px 41px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-color);
}

.form-label {
  margin-bottom: 4px;
}

.form-input {
  padding: 12px 42px;

  border: none;
  border-radius: 4px;
  /* outline: 1px solid rgba(33, 33, 33, 0.2); */
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;

  transition: outline var(--animation-duration) var(--animation-function);
}

.form-input:focus {
  outline: 1px solid var(--accent-color);
  border: 1px solid var(--accent-color);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill var(--animation-duration) var(--animation-function);
}

.form-input:focus + .icon-input,
.icon-input:focus {
  fill: var(--accent-color);
}

.form-comment {
  margin-bottom: 20px;
}

.comment {
  height: 120px;
  padding: 12px 16px;

  resize: none;

  letter-spacing: 0.01em;
}

.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.check-label {
  position: relative;

  display: flex;
  align-items: center;

  line-height: 1.71;

  color: var(--primary-color);
}

.check-input:checked + .icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);

  transition: background-color var(--animation-duration)
    var(--animation-function);
}

.icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid var(--main-color);
  background-color: var(--secondary-color);

  transition: background-color var(--animation-duration)
    var(--animation-function);
}

.check-icon {
  position: absolute;
}

.link-policy {
  margin-left: 4px;

  color: var(--accent-color);
}

.btn-sumbit {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color var(--animation-duration)
    var(--animation-function);
}

.btn-sumbit:hover,
.btn-sumbit:focus {
  background-color: var(--btn-hover-color);
}
